.checkoutproduct__rating{
    display: flex;
}
.checkoutproduct{
    display: flex;
    margin: 20px;
}
.checkoutproduct__image{
    height: 180px;
    width: 180px;
    object-fit: contain;
}
.checkoutproduct__info > button{
    background: #f0c14b;
    margin-top: 10px;
    color: black;
    border: 1px solid;
    border-color: #a88734;
    cursor: pointer;
    width: 150px;
}
.checkoutproduct__info{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}
.checkoutproduct__title{
    font-size: 17px;
    font-weight: 800;
}